.accordion {
    padding: 0 6.25%;
    margin: 0;
    border-width: 0px 1px 1px 1px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 0.5rem;
}

.accordion:nth-of-type(1) {
    border-top-width: 1px
}

.accordion-title {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    padding-bottom: .5rem;
    border-bottom: 0.25rem solid #45D1E6;
    color: #fdcd3a;
}

.accordion-title:hover {
    cursor: pointer;
}

.accordion img.toggle {
    width: 16px;
    height: 16px;
    align-self: center;
    margin-left: auto;
    transition: all 0.35s ease;
}

.accordion img.toggle[aria-expanded="true"] {
    transform: rotateZ(90deg);
}

.accordion-content {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.accordion-content[aria-expanded="true"] {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}